/* NOSOTROS */

@import 'variables';

body {
    background: white;
    display: grid;
    grid-template-rows: auto;
    .bg {
        width:100vw;
    }
    header {
        .logo {                                                
            display: flex;
            justify-content: center;
        }
        .logo .size {
            width: 60px;
            padding: 10px 0px;
            margin-right: 32px;
        }
        .navbar-nav {
            font-size: $MismaMedida;
            font-family: 'Anton', sans-serif; 
        }
    }
    main {
        .nosotros img {
            width: 100%;
        }
        .contenido {
            height: 220px;
            width: 700px;
            margin: 2rem auto;
            margin-bottom: 300px;
            border-radius: 15px;
        }
        .titulo h2 {
            text-align: map-get($map: NOSOTROS, $key: texto);
            font-size: map-get($map: NOSOTROS, $key: tamaño);
            font-family: map-get($map: NOSOTROS, $key: letra);
            color: map-get($map: NOSOTROS, $key: color );
        }
        .articulo p {
            padding-top: $MismaMedida;
            @include texto-estilos;
        }
    }
}