/* NOSOTROS */

@import 'variables';

body {
    background: white;
    display: grid;
    grid-template-rows: auto;
    .bg {
        width:100vw;
    }
    header {
        .logo {                                                
            display: flex;
            justify-content: center;
        }
        .logo .size {
            width: 60px;
            padding: 10px 0px;
            margin-right: 32px;
        }
        .navbar-nav {
            font-size: $MismaMedida;
            font-family: 'Anton', sans-serif; 
        }
    }
    main {
        .nosotros img {
            width: 100%;
        }
        .contenido {
            height: 220px;
            width: 700px;
            margin: 2rem auto;
            margin-bottom: 300px;
            border-radius: 15px;
        }
        .titulo h2 {
            text-align: map-get($map: NOSOTROS, $key: texto);
            font-size: map-get($map: NOSOTROS, $key: tamaño);
            font-family: map-get($map: NOSOTROS, $key: letra);
            color: map-get($map: NOSOTROS, $key: color );
        }
        .articulo p {
            padding-top: $MismaMedida;
            @include texto-estilos;
        }
    }
    footer {
        .socials {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: 200px;
            grid-gap: 20px;
            list-style-type: none;
        }
        .redes {
            display: inline-flex;
            justify-content: left;
        }
        .redes img {
            @extend %redesimg;
            cursor: pointer;
        }
        .diremail {
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 27px;
            margin-top:20px;
            .diremail h2 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 10px;
            }
            .diremail img {
                width: 35px;
            }
        }
        .update {
            display: inline-flex;
            align-items: center;
            flex-direction: column;
            .update h2 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 10px;
            }
            .action__margin {
                margin: 5px;
            }             
        }
    }
    
}
